<header class="main-header">
  <div class="header-content">
    <h1 class="header-title">WATCH | LIST</h1>
    <%= link_to new_list_path, class: 'btn btn-primary' do %>
      <i class="fa fa-plus"></i> New List
    <% end %>
  </div>
</header>
